<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <!-- 命名空间 -->
    <typeAliases>
         <typeAlias alias="PoliceMan" type="com.tianyi.drs.duty.model.PoliceMan"/>
    </typeAliases> 
	
    <!-- 映射map -->
    <mappers>
		<mapper resource="src/main/resources/mapper/PoliceManMapper.xml" /> 
    </mappers>
</configuration>