@charset "utf-8";
/*公共样式部分*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{ margin:0; padding:0}
body,button,input,select,textarea{ font-size:12px; font-family:Arial, SimSun, sans-serif; color:#000000;}
ul,ol{list-style:none;}
small{font-size:12px;}
img{ border:0;outline:none;}
table {font-size:14px;}*
a:link,a:visited,a:hover,a:active {text-decoration:none;outline:none}
/*a:active{star:expression(this.onFocus=this.blur());}*/
:focus {outline:none}
.fl{float:left;}.fr{float:right;}.cl{clear:both;}.fb{font-weight:bold;}
.fe{color:#ff4e00;}
.fam { font-family:SimSun;}
html,body{height:100%;}
body{background:#f9f9f9;}
.header{width:100%; height:59px; background:url(../images/zvingBlue.png) repeat-x;}
.logo{width:274px; float:left; height:59px; padding:0 0 0 25px;}
.top{height:29px; background:url(../images/top_tc.gif) repeat-x;}
.time{float:left; height:27px; line-height:27px; background:url(../images/time_icon.gif) 8px 8px no-repeat; font-family:Arial, Helvetica, sans-serif; text-indent:30px; color:#666;}
.user_out{float:right; padding:0 20px 0 0; height:27px; line-height:27px; color:#666;}
.user_out a{color:#666;}
.user_out a:hover{color:#F60;}
.left{width:147px; height:100%; padding:3px;}
.l_box{border:1px solid #dddddd; width:145px; height:100%; background:#ffffff; padding:1px;}
.bottom{width:100%; height:34px; line-height:34px; color:#FFFFFF; text-align:center; background:#4b8dc9;}

.c_box{padding:3px; background:#FFF; width:100%; height:100%; border:1px solid #dddddd;}
.table{background:#cccccc;}
.table td{background:#FFF; line-height:26px;font-family:Arial, Helvetica, sans-serif;}
.table1{background:#cccccc;}
.table1 td{background:#FFF;  font-family:Arial, Helvetica, sans-serif;}
.c_b_tc{background:url(../images/c_box_tc.gif) repeat-x!important; text-align:center; font-weight:bold; color:#333;}
.tb{padding-top:5px;}
.button input{height:28px; padding:0 10px 0 10px;}
.table span{color:#0C0; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.sr{width:200px; height:24px; line-height:24px; border:1px solid #CCC;}
.sr_box{border:2px solid #CCC; background:#FFFFFF;}
.height{height:10px;}
.sr_box1{border-width:1px 0 0 0; border-style:solid; border-color:#CCC;}
/*登录*/
.login_body{background-image: url(../images/login-bg.jpg);}
.login{width:1003px; margin:0 auto; height:408px; background:url(../images/q_login_bg.gif) no-repeat; padding-top:200px;}
.login_box{width:369px; height:216px; background:url(../images/q_login_bj.gif) no-repeat;  padding:80px 0 0 50px; margin:0 auto;}
.login_user{width:253px; height:34px; background:url(../images/login_user.gif) no-repeat; margin-top:16px; padding:3px 3px 3px 60px; float:left;}
.login_pass{width:253px; height:34px; background:url(../images/login_password.gif) no-repeat; margin-top:16px; padding:3px 3px 3px 60px;float:left;}
.login_user input, .login_pass input{width:230px; height:34px; border:1px solid #f0eef0; background:#f8f8f8; border:none; color:#666; line-height:34px; font-size:24px;  font-family:"微软雅黑";}
.l_b_dl{padding:19px 0 0 55px; float:left;}
.l_b_pow{padding:19px 0 0 25px; float:left;}
.q_dl_info{width:320px; text-align:center; line-height:44px; color:#FF6600; float:left;}
.l_b_dl a{display:block; width:100px; height:40px; background:url(../images/login_tb1.gif) no-repeat; cursor:pointer;}
.l_b_dl a:hover{background:url(../images/login_tb2.gif) no-repeat;}
.l_b_pow a{display:block; width:100px; height:40px; background:url(../images/login_tb3.gif) no-repeat; cursor:pointer;}
.l_b_pow a:hover{background:url(../images/login_tb4.gif) no-repeat;}
.top_nav{float:right; padding-top:13px;}
.top_nav a{ display:block; width:97px; height:33px; line-height:33px; text-align:center; font-size:14px; font-weight:bold; color:#FFFFFF; float:right; margin-right:10px;}
.top_nav a:hover{width:95px; height:31px; border:solid 1px #0d67b6; background:#FFF; color:#1260ac; line-height:31px;}
.na_hover{width:95px!important; height:31px!important; border:solid 1px #0d67b6!important; background:#FFF!important; color:#1260ac!important; line-height:31px!important;}
.welcome{text-align:center;  width:100%; height:100%;  background:url(../images/welcome.gif) no-repeat center;}
.a_button a{display:block; padding:0 5px 0 5px; border:1px solid #cccccc; line-height:24px; background:#ececec; float:left; margin-left:10px; color:#333;}
.a_button a:hover{display:block; border:1px solid #0d67b6; background:#1260ac; color:#FFFFFF;}
.t_input{width:200px; height:24px; line-height:24px; margin:5px;}
.t_input1{width:100px; height:24px; line-height:24px; margin:5px;}
.t_inputs{width:202px; height:150px; margin:5px;}
.pop_box{width:350px; height:250px; border:1px solid #c4cdd2; background:#ffffff; position:absolute;}
.p_b_tit{height:30px; line-height:30px;  background:url(../images/pop_tc.gif) repeat-x;}
.p_b_tit span{padding:0 0 0 10px; color:#075ba2;}
.p_b_tit a{color:#000000; font-family:Arial, Helvetica, sans-serif; float:right; font-size:14px; padding-right:10px;}
.p_b_tit a:hover{color:#FF6600;}
.p_b_t{padding:5px; line-height:24px;}
.x_tit{border:1px solid #275f91; background:#5d92aa; width:533px; height:48px; font-size:14px; font-weight:bold; color:#FFF;}
.x_box{border:1px solid #275f91; background:#5d92aa; width:533px; height:230px; font-size:14px; font-weight:bold; color:#FFF;}
.x_box ul{padding:0 25px 0 25px;}
.x_box li{width:37px; height:37px; padding:5px; float:left;}
.c_box a{color:#2885c8;}
.c_box a:hover{color:#FF3300;}
.q_sea{ border:3px solid #dddddd;}
.q_height{height:10px;}

/**new add style*/
.full{width:100%;height:auto;}
.frame-top{position: absolute;top: 0;left: 0;height: 88px;width: 100%;overflow: hidden;vertical-align: middle;}
.frame-left{position: fixed;top: 88px;left: 0;bottom:40px;height: 100%;width: 153px;overflow: hidden;vertical-align: top;}
.frame-right{position: fixed;left: 153px;top: 88px;right: 0;bottom: 40px;overflow: auto;}
.frame-bototm{position: fixed;bottom:0;left:0;width:100%;height:34px;}
.menu-left{width: 230px; height: 100%; float: left; overflow: auto;}
.menu-right{width: 730px; height: 100%; float: left;}

.ui-list-head{width:100%;height:auto;line-height:34px;margin-top:10px;padding:10px 0px;}
.ui-back-hui{background-color:#F4F4F4 !important;}
.ui-search{width:300px;height:auto;padding:0px 10px;font-size:14px;color:#000;}
.ui-center{text-align:center !important;}
.ui-center th{text-align:center !important;}
.ui-center td{text-align:center !important;}
.txt-height-middle{vertical-align:middle !important;}
.txt-height-middle td{vertical-align:middle !important;}
.ui-lv2bg{ background:url(../images/ui-lv2bg.gif)}

/**common style**/
.ml10{margin-left:10px !important;_margin-left:5px !important;}
.mt8{margin-top:8px !important;}
.mt20{margin-top:20px !important;}
.ui-width138{width:138px !important;}
.pb10{padding-bottom:10px;}
.messgeCount {background-color: red}
.table{font-size:12px;}

.table-font{font-size:14px;}