<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.drs.duty.dao.DutyItemMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.drs.duty.model.DutyItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="duty_shift_id" property="dutyShiftId" jdbcType="INTEGER" />
    <result column="item_type_id" property="itemTypeId" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="ud_name" property="udName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="is_leaf" property="isLeaf" jdbcType="BIT" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="full_id_path" property="fullIdPath" jdbcType="VARCHAR" />
    <result column="sync_state" property="syncState" jdbcType="BIT" />
    <result column="platform_id" property="platformId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, duty_shift_id, item_type_id, item_id, ud_name, parent_id, is_leaf, level, full_id_path, 
    sync_state, platform_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_duty_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_duty_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyi.drs.duty.model.DutyItem" useGeneratedKeys="true" keyProperty="id">
    insert into t_duty_item (id, duty_shift_id, item_type_id, 
      item_id, ud_name, parent_id, 
      is_leaf, level, full_id_path, 
      sync_state, platform_id)
    values (#{id,jdbcType=INTEGER}, #{dutyShiftId,jdbcType=INTEGER}, #{itemTypeId,jdbcType=INTEGER}, 
      #{itemId,jdbcType=VARCHAR}, #{udName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{isLeaf,jdbcType=BIT}, #{level,jdbcType=INTEGER}, #{fullIdPath,jdbcType=VARCHAR}, 
      #{syncState,jdbcType=BIT}, #{platformId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.drs.duty.model.DutyItem" useGeneratedKeys="true" keyProperty="id">
    insert into t_duty_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dutyShiftId != null" >
        duty_shift_id,
      </if>
      <if test="itemTypeId != null" >
        item_type_id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="udName != null" >
        ud_name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="isLeaf != null" >
        is_leaf,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="fullIdPath != null" >
        full_id_path,
      </if>
      <if test="syncState != null" >
        sync_state,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dutyShiftId != null" >
        #{dutyShiftId,jdbcType=INTEGER},
      </if>
      <if test="itemTypeId != null" >
        #{itemTypeId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="udName != null" >
        #{udName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="isLeaf != null" >
        #{isLeaf,jdbcType=BIT},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="fullIdPath != null" >
        #{fullIdPath,jdbcType=VARCHAR},
      </if>
      <if test="syncState != null" >
        #{syncState,jdbcType=BIT},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.drs.duty.model.DutyItem" >
    update t_duty_item
    <set >
      <if test="dutyShiftId != null" >
        duty_shift_id = #{dutyShiftId,jdbcType=INTEGER},
      </if>
      <if test="itemTypeId != null" >
        item_type_id = #{itemTypeId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="udName != null" >
        ud_name = #{udName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="isLeaf != null" >
        is_leaf = #{isLeaf,jdbcType=BIT},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="fullIdPath != null" >
        full_id_path = #{fullIdPath,jdbcType=VARCHAR},
      </if>
      <if test="syncState != null" >
        sync_state = #{syncState,jdbcType=BIT},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.drs.duty.model.DutyItem" >
    update t_duty_item
    set duty_shift_id = #{dutyShiftId,jdbcType=INTEGER},
      item_type_id = #{itemTypeId,jdbcType=INTEGER},
      item_id = #{itemId,jdbcType=VARCHAR},
      ud_name = #{udName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      is_leaf = #{isLeaf,jdbcType=BIT},
      level = #{level,jdbcType=INTEGER},
      full_id_path = #{fullIdPath,jdbcType=VARCHAR},
      sync_state = #{syncState,jdbcType=BIT},
      platform_id = #{platformId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByShiftId" parameterType="java.lang.Integer">
  	 delete from t_duty_item
    where duty_shift_id = #{shiftId,jdbcType=INTEGER} 
  </delete>
  
</mapper>