<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyi.drs.duty.dao.GPSDeviceMapper">
  <resultMap id="BaseResultMap" type="com.tianyi.drs.duty.model.GPSDevice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gps_type_id" jdbcType="INTEGER" property="gpsTypeId" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="gps_id" jdbcType="INTEGER" property="gpsId" />
    <result column="gps_name" jdbcType="VARCHAR" property="gpsName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tianyi.drs.duty.model.GPSDevice">
    <result column="gps_icon" jdbcType="LONGVARBINARY" property="gpsIcon" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gps_type_id, org_id, number, gps_id, gps_name
  </sql>
  <sql id="Blob_Column_List">
    gps_icon
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_gpsdevice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_gpsdevice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyi.drs.duty.model.GPSDevice">
    insert into t_gpsdevice (id, gps_type_id, org_id, 
      number, gps_id, gps_name, 
      gps_icon)
    values (#{id,jdbcType=INTEGER}, #{gpsTypeId,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, 
      #{number,jdbcType=VARCHAR}, #{gpsId,jdbcType=INTEGER}, #{gpsName,jdbcType=VARCHAR}, 
      #{gpsIcon,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.drs.duty.model.GPSDevice">
    insert into t_gpsdevice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gpsTypeId != null">
        gps_type_id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="gpsId != null">
        gps_id,
      </if>
      <if test="gpsName != null">
        gps_name,
      </if>
      <if test="gpsIcon != null">
        gps_icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gpsTypeId != null">
        #{gpsTypeId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="gpsId != null">
        #{gpsId,jdbcType=INTEGER},
      </if>
      <if test="gpsName != null">
        #{gpsName,jdbcType=VARCHAR},
      </if>
      <if test="gpsIcon != null">
        #{gpsIcon,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.drs.duty.model.GPSDevice">
    update t_gpsdevice
    <set>
      <if test="gpsTypeId != null">
        gps_type_id = #{gpsTypeId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="gpsId != null">
        gps_id = #{gpsId,jdbcType=INTEGER},
      </if>
      <if test="gpsName != null">
        gps_name = #{gpsName,jdbcType=VARCHAR},
      </if>
      <if test="gpsIcon != null">
        gps_icon = #{gpsIcon,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tianyi.drs.duty.model.GPSDevice">
    update t_gpsdevice
    set gps_type_id = #{gpsTypeId,jdbcType=INTEGER},
      org_id = #{orgId,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR},
      gps_id = #{gpsId,jdbcType=INTEGER},
      gps_name = #{gpsName,jdbcType=VARCHAR},
      gps_icon = #{gpsIcon,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.drs.duty.model.GPSDevice">
    update t_gpsdevice
    set gps_type_id = #{gpsTypeId,jdbcType=INTEGER},
      org_id = #{orgId,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR},
      gps_id = #{gpsId,jdbcType=INTEGER},
      gps_name = #{gpsName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.tianyi.drs.duty.model.GPSDevice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gps_type_id" jdbcType="INTEGER" property="gpsTypeId" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="gps_id" jdbcType="INTEGER" property="gpsId" />
    <result column="gps_name" jdbcType="VARCHAR" property="gpsName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tianyi.drs.duty.model.GPSDevice">
    <result column="gps_icon" jdbcType="LONGVARBINARY" property="gpsIcon" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gps_type_id, org_id, number, gps_id, gps_name
  </sql>
  <sql id="Blob_Column_List">
    gps_icon
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_gpsdevice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_gpsdevice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyi.drs.duty.model.GPSDevice">
    insert into t_gpsdevice (id, gps_type_id, org_id, 
      number, gps_id, gps_name, 
      gps_icon)
    values (#{id,jdbcType=INTEGER}, #{gpsTypeId,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, 
      #{number,jdbcType=VARCHAR}, #{gpsId,jdbcType=INTEGER}, #{gpsName,jdbcType=VARCHAR}, 
      #{gpsIcon,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.drs.duty.model.GPSDevice">
    insert into t_gpsdevice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gpsTypeId != null">
        gps_type_id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="gpsId != null">
        gps_id,
      </if>
      <if test="gpsName != null">
        gps_name,
      </if>
      <if test="gpsIcon != null">
        gps_icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gpsTypeId != null">
        #{gpsTypeId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="gpsId != null">
        #{gpsId,jdbcType=INTEGER},
      </if>
      <if test="gpsName != null">
        #{gpsName,jdbcType=VARCHAR},
      </if>
      <if test="gpsIcon != null">
        #{gpsIcon,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.drs.duty.model.GPSDevice">
    update t_gpsdevice
    <set>
      <if test="gpsTypeId != null">
        gps_type_id = #{gpsTypeId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="gpsId != null">
        gps_id = #{gpsId,jdbcType=INTEGER},
      </if>
      <if test="gpsName != null">
        gps_name = #{gpsName,jdbcType=VARCHAR},
      </if>
      <if test="gpsIcon != null">
        gps_icon = #{gpsIcon,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tianyi.drs.duty.model.GPSDevice">
    update t_gpsdevice
    set gps_type_id = #{gpsTypeId,jdbcType=INTEGER},
      org_id = #{orgId,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR},
      gps_id = #{gpsId,jdbcType=INTEGER},
      gps_name = #{gpsName,jdbcType=VARCHAR},
      gps_icon = #{gpsIcon,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.drs.duty.model.GPSDevice">
    update t_gpsdevice
    set gps_type_id = #{gpsTypeId,jdbcType=INTEGER},
      org_id = #{orgId,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR},
      gps_id = #{gpsId,jdbcType=INTEGER},
      gps_name = #{gpsName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>