<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.drs.duty.dao.GpsGroupMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.drs.duty.model.GpsGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="share_type" property="shareType" jdbcType="INTEGER" />
    <result column="sync_state" property="syncState" jdbcType="BIT" />
    <result column="platform_id" property="platformId" jdbcType="INTEGER" />
  </resultMap>
  
  
  <resultMap id="ViewResultMap" type="com.tianyi.drs.duty.viewmodel.GpsGroupVM" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="share_type" property="shareType" jdbcType="INTEGER" />
    <result column="sync_state" property="syncState" jdbcType="BIT" />
    <result column="platform_id" property="platformId" jdbcType="INTEGER" />
    <result column="orgname" jdbcType="VARCHAR" property="orgName" />
    <result column="orgcode" jdbcType="VARCHAR" property="orgCode" />
    <result column="orgpath" jdbcType="VARCHAR" property="orgPath" />
  </resultMap>
    
  
  
  <sql id="Base_Column_List" >
    id, org_id, name, share_type, sync_state, platform_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_duty_gps_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_duty_gps_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyi.drs.duty.model.GpsGroup" >
    insert into t_duty_gps_group (id, org_id, name, 
      share_type, sync_state, platform_id
      )
    values (#{id,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{shareType,jdbcType=INTEGER}, #{syncState,jdbcType=BIT}, #{platformId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.drs.duty.model.GpsGroup" >
    insert into t_duty_gps_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="shareType != null" >
        share_type,
      </if>
      <if test="syncState != null" >
        sync_state,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shareType != null" >
        #{shareType,jdbcType=INTEGER},
      </if>
      <if test="syncState != null" >
        #{syncState,jdbcType=BIT},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.drs.duty.model.GpsGroup" >
    update t_duty_gps_group
    <set >
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shareType != null" >
        share_type = #{shareType,jdbcType=INTEGER},
      </if>
      <if test="syncState != null" >
        sync_state = #{syncState,jdbcType=BIT},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.drs.duty.model.GpsGroup" >
    update t_duty_gps_group
    set org_id = #{orgId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      share_type = #{shareType,jdbcType=INTEGER},
      sync_state = #{syncState,jdbcType=BIT},
      platform_id = #{platformId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    
         <select id="findByNameAndOrg" resultType="com.tianyi.drs.duty.model.GpsGroup" parameterType="java.util.Map">  
       		select * from t_duty_gps_group where name = #{name} and org_id = #{orgId}
    	 </select> 
  
  
  
  <select id ="countByOrgId" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select 
  		count(*) 
  	from 
  		t_duty_gps_group as g
  	where
  		g.org_id =#{orgId,jdbcType=INTEGER}

  		<if test="groupName != null ">
  			and g.name  like CONCAT("%",#{groupName,jdbcType=VARCHAR},"%")
  		</if>
  </select>
  
  <select id="loadVMListByOrgId" parameterType="java.util.Map" resultMap="ViewResultMap">
  	select 
  		g.id,
  		g.org_id,
  		g.name,
  		g.share_type,
  		g.sync_state,
  		g.platform_id,
  		org.name			as	orgname,
		org.code 			as 	orgcode,
		org.path 			as 	orgPath
  	from 
  		t_duty_gps_group as g
  		left join organ as org on g.org_id=org.id
  	where
		g.org_id=#{orgId,jdbcType=INTEGER}
  	
  		<if test="groupName != null ">
  			and g.name  like CONCAT("%",#{groupName,jdbcType=VARCHAR},"%")
  		</if>
  	order by g.id
  		<if test="pageStart != null">
	    	limit #{pageStart,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
	  	</if>
  
  </select>
  
  <select id="loadVMListByOrgIdShared" parameterType="java.util.Map" resultMap="ViewResultMap">
select distinct	g.id,
  		g.org_id,
  		g.name,
  		g.share_type,
  		g.sync_state,
  		g.platform_id,
  		org.name			as	orgname,
		org.code 			as 	orgcode,
		org.path 			as 	orgPath
 		from t_duty_gps_group_org  pgo
			left join t_duty_gps_group g on g.id = pgo.gps_group_id 
			left join organ org on g.org_id = org.id
  	where
		pgo.org_id=#{orgId,jdbcType=INTEGER}
  	 
  	order by g.id
  		 
  
  </select>
  
</mapper>