<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.drs.duty.dao.OrgMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.drs.duty.model.Org" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
  </resultMap>
    
    <resultMap id="OrgWithPoliceResultMap" type="com.tianyi.drs.duty.viewmodel.OrgWithPoliceVM" >
    	<id column="rid" property="rid" jdbcType="INTEGER" />
    	<id column="id" property="id" jdbcType="VARCHAR" />
    	<result column="data_type" property="dataType" jdbcType="INTEGER" />
    	<result column="name" property="name" jdbcType="VARCHAR" />
    	<result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>
       
    <resultMap id="OrgWithVehicleResultMap" type="com.tianyi.drs.duty.viewmodel.OrgWithVehicleVM" >
    	<id column="rid" property="rid" jdbcType="INTEGER" />
    	<id column="id" property="id" jdbcType="VARCHAR" />
    	<result column="data_type" property="dataType" jdbcType="INTEGER" />
    	<result column="name" property="name" jdbcType="VARCHAR" /> 
    	<result column="typename" property="typename" jdbcType="VARCHAR" />
    	<result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>
    <resultMap id="OrgWithWeaponResultMap" type="com.tianyi.drs.duty.viewmodel.OrgWithWeaponVM" >
    	<id column="rid" property="rid" jdbcType="INTEGER" />
    	<id column="id" property="id" jdbcType="VARCHAR" />
    	<result column="data_type" property="dataType" jdbcType="INTEGER" />
    	<result column="name" property="name" jdbcType="VARCHAR" />
    	<result column="typename" property="typename" jdbcType="VARCHAR" />
    	<result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>
    <resultMap id="OrgWithGpsResultMap" type="com.tianyi.drs.duty.viewmodel.OrgWithGpsVM" >
    	<id column="rid" property="rid" jdbcType="INTEGER" />
    	<id column="id" property="id" jdbcType="VARCHAR" />
    	<result column="data_type" property="dataType" jdbcType="INTEGER" />
    	<result column="name" property="name" jdbcType="VARCHAR" />
    	<result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>
   
   
  <sql id="Base_Column_List" >
    id, parent_id, name, short_name, code,path
  </sql>
  
    <select id="loadSubOrgList" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
		id, parent_id, name, short_name, code,path
		
	from organ as org
  	where
  		org.code =#{orgCode,jdbcType=VARCHAR} or
  		org.path like CONCAT(#{orgPath,jdbcType=VARCHAR},"/",#{orgCode,jdbcType=VARCHAR},"%")
  	order by org.id
  		
  </select>
  
  <select id="loadOrgWithPoliceVMList" parameterType="java.util.Map" resultMap="OrgWithPoliceResultMap">
	select      rid,     name,     data_type,id,code     
	from 
	 (    
		select    id as rid,short_name as name,  1 as data_type,CONCAT("org_",id) as id,code  from organ as org    where     org.parent_id= #{id,jdbcType=INTEGER}  
		union    
		select     id as rid,name, 2 as data_type,CONCAT("pol_",id) as id,number as code    from t_police as p    where p.isUsed = 1 and p.org_id=#{id,jdbcType=INTEGER}  
	 ) as t    
	order by t.data_type desc,t.rid
  </select>
  
    <select id="loadOrgWithVehicleVMList" parameterType="java.util.Map" resultMap="OrgWithVehicleResultMap">
	select      rid,  typename,   name,     data_type,id,code     
	from 
	 (    
		select    id as rid,"" as typename,short_name as name,  1 as data_type,CONCAT("org_",id) as id,code  from organ as org    where     org.parent_id= #{id,jdbcType=INTEGER}  
		union    
		 select     p.id as rid,t.name as typename,number as name,   2 as data_type,CONCAT("veh_",p.id) as id,number as code    from t_vehicle as p    
			left join t_vehicletype as t on t.id = p.vehicle_type_id 
		
		where p.org_id=#{id,jdbcType=INTEGER}   
	 ) as t    
	order by t.data_type desc,t.rid
  </select>
  
  
    <select id="loadOrgWithWeaponVMList" parameterType="java.util.Map" resultMap="OrgWithWeaponResultMap">
	select      rid,   typename,  name,     data_type,id,code     
	from 
	 (    
		select    id as rid,"" as typename,short_name as name,  1 as data_type,CONCAT("org_",id) as id,code  from organ as org    where     org.parent_id= #{id,jdbcType=INTEGER}  
		union    
		select     p.id as rid,t.name as typename,number as name, 2 as data_type,CONCAT("wea_",p.id) as id,number as code    from t_weapon as p  
			left join t_weapontype as t on t.id = p.type_id
		
		  where p.org_id=#{id,jdbcType=INTEGER}  
	 ) as t    
	order by t.data_type desc,t.rid
  </select>
  
  
    <select id="loadOrgWithGpsVMList" parameterType="java.util.Map" resultMap="OrgWithGpsResultMap">
	select      rid,     name,     data_type,id,code     
	from 
	 (    
		select    id as rid,short_name as name,  1 as data_type,CONCAT("org_",id) as id,code  from organ as org    where     org.parent_id= #{id,jdbcType=INTEGER}  
		union    
		select     id as rid,gps_name as name , 2 as data_type,CONCAT("gps_",id) as id,number as code    from t_gps as p  
		
		
		  where p.org_id=#{id,jdbcType=INTEGER}  
	 ) as t    
	order by t.data_type desc,t.rid
  </select>
  
  <select id="loadListByName" parameterType="java.util.Map" resultMap="BaseResultMap">
  
  </select>
  
</mapper>