<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.drs.duty.dao.OrgMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.drs.duty.model.Org" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
  </resultMap>
    
   
   
  <sql id="Base_Column_List" >
    id, parent_id, name, short_name, code,path
  </sql>
  
    <select id="loadSubOrgList" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
		id, parent_id, name, short_name, code,path
		
	from organ as org
  	where
  		org.path like CONCAT(#{orgPath,jdbcType=VARCHAR},"/",#{orgCode,jdbcType=VARCHAR},"%")
  	order by org.id
  		
  </select>
  
</mapper>