<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.drs.basedata.dao.PoliceMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.drs.basedata.model.Police" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="idcardNo" property="idcardno" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="mobile_short" property="mobileShort" jdbcType="VARCHAR" />
    <result column="intercom_group" property="intercomGroup" jdbcType="VARCHAR" />
    <result column="intercom_person" property="intercomPerson" jdbcType="VARCHAR" />
    <result column="gps_id" property="gpsId" jdbcType="INTEGER" />
    <result column="gps_name" property="gpsName" jdbcType="VARCHAR" />
    <result column="sync_state" property="syncState" jdbcType="BIT" />
    <result column="platform_id" property="platformId" jdbcType="INTEGER" />
    <result column="isUsed" property="isused" jdbcType="BIT" />
  </resultMap>
  <resultMap id="BaseModelMap" type="com.tianyi.drs.basedata.viewmodel.PoliceVM" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="typeName" property="typeName" jdbcType="VARCHAR" /> 
    <result column="isUsed" property="isused" jdbcType="BIT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="orgName" property="orgName" jdbcType="VARCHAR" />
    <result column="idcardno" property="idcardno" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="mobile_short" property="mobileShort" jdbcType="VARCHAR" />
    <result column="intercom_group" property="intercomGroup" jdbcType="VARCHAR" />
    <result column="intercom_person" property="intercomPerson" jdbcType="VARCHAR" />
    <result column="gps_icon" property="iconUrl" jdbcType="VARCHAR" />
    <result column="gps_id" property="gpsId" jdbcType="INTEGER" />
    <result column="gps_name" property="gpsName" jdbcType="VARCHAR" />
    <result column="orgcode" jdbcType="VARCHAR" property="orgCode" />
    <result column="orgpath" jdbcType="VARCHAR" property="orgPath" />
    <result column="iconUrl" jdbcType="VARCHAR" property="iconUrl" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_id, name, org_id, idcardNo, number, title, mobile, mobile_short, intercom_group, 
    intercom_person, gps_id, gps_name, sync_state, platform_id, isUsed
  </sql>
  <sql id="Base_Model_Column_List" >
    p.id,p.isUsed as isused, p.type_id as typeId,pt.name as typeName, p.name, p.org_id as orgId,o.short_name as orgName,p.idcardno, p.number, p.title, p.mobile, p.mobile_short as mobileShort, 
    p.intercom_group as intercomGroup, p.intercom_person, p.gps_id as gpsId, p.gps_name as gpsName,o.code as orgCode,o.path as orgPath,tg.icon_url as iconUrl,CONCAT(pt.name,":",p.name) as display_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_police
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_police
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyi.drs.basedata.model.Police" >
    <selectKey resultType="INTEGER" keyProperty="id">  
  SELECT LAST_INSERT_ID()  
  </selectKey> 
    insert into t_police (id, type_id, name, 
      org_id, idcardNo, number, 
      title, mobile, mobile_short, 
      intercom_group, intercom_person, gps_id, 
      gps_name, sync_state, platform_id, 
      isUsed)
    values (#{id,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=INTEGER}, #{idcardno,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{mobileShort,jdbcType=VARCHAR}, 
      #{intercomGroup,jdbcType=VARCHAR}, #{intercomPerson,jdbcType=VARCHAR}, #{gpsId,jdbcType=INTEGER}, 
      #{gpsName,jdbcType=VARCHAR}, #{syncState,jdbcType=BIT}, #{platformId,jdbcType=INTEGER}, 
      #{isused,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.drs.basedata.model.Police" >
    insert into t_police
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="idcardno != null" >
        idcardNo,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="mobileShort != null" >
        mobile_short,
      </if>
      <if test="intercomGroup != null" >
        intercom_group,
      </if>
      <if test="intercomPerson != null" >
        intercom_person,
      </if>
      <if test="gpsId != null" >
        gps_id,
      </if>
      <if test="gpsName != null" >
        gps_name,
      </if>
      <if test="syncState != null" >
        sync_state,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="isused != null" >
        isUsed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="idcardno != null" >
        #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mobileShort != null" >
        #{mobileShort,jdbcType=VARCHAR},
      </if>
      <if test="intercomGroup != null" >
        #{intercomGroup,jdbcType=VARCHAR},
      </if>
      <if test="intercomPerson != null" >
        #{intercomPerson,jdbcType=VARCHAR},
      </if>
      <if test="gpsId != null" >
        #{gpsId,jdbcType=INTEGER},
      </if>
      <if test="gpsName != null" >
        #{gpsName,jdbcType=VARCHAR},
      </if>
      <if test="syncState != null" >
        #{syncState,jdbcType=BIT},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=INTEGER},
      </if>
      <if test="isused != null" >
        #{isused,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.drs.basedata.model.Police" >
    update t_police
    <set >
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="idcardno != null" >
        idcardNo = #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mobileShort != null" >
        mobile_short = #{mobileShort,jdbcType=VARCHAR},
      </if>
      <if test="intercomGroup != null" >
        intercom_group = #{intercomGroup,jdbcType=VARCHAR},
      </if>
      <if test="intercomPerson != null" >
        intercom_person = #{intercomPerson,jdbcType=VARCHAR},
      </if>
      <if test="gpsId != null" >
        gps_id = #{gpsId,jdbcType=INTEGER},
      </if>
      <if test="gpsName != null" >
        gps_name = #{gpsName,jdbcType=VARCHAR},
      </if>
      <if test="syncState != null" >
        sync_state = #{syncState,jdbcType=BIT},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=INTEGER},
      </if>
      <if test="isused != null" >
        isUsed = #{isused,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.drs.basedata.model.Police" >
    update t_police
    set type_id = #{typeId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      idcardNo = #{idcardno,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      mobile_short = #{mobileShort,jdbcType=VARCHAR},
      intercom_group = #{intercomGroup,jdbcType=VARCHAR},
      intercom_person = #{intercomPerson,jdbcType=VARCHAR},
      gps_id = #{gpsId,jdbcType=INTEGER},
      gps_name = #{gpsName,jdbcType=VARCHAR},
      sync_state = #{syncState,jdbcType=BIT},
      platform_id = #{platformId,jdbcType=INTEGER},
      isUsed = #{isused,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
   		 <select id="findBycode" parameterType="String" resultType="com.tianyi.drs.basedata.model.Police">  
       		select  * from t_police where number = #{param}  limit 1,1 
    	 </select> 
   		 <select id="findByidCard" parameterType="String" resultType="com.tianyi.drs.basedata.model.Police">  
       		select * from t_police where idcardNo = #{param}   limit 1,1
    	 </select>
    	 
         <select id="findByname" parameterType="String" resultType="com.tianyi.drs.basedata.model.Police">  
       		select * from t_police where name = #{name}  
    	 </select> 
    	 
         <select id="login" resultType="com.tianyi.drs.basedata.model.Police" parameterType="java.util.Map">  
       		select * from t_police where number = #{code} or number = #{password}
    	 </select> 
    	 
    	 <select id="selectPoliceType" resultType="com.tianyi.drs.basedata.model.PoliceType">  
       		 select * from t_policetype order by id asc
    	 </select> 
    	 
    	 
      	 <select id="selectIntercomGroup" resultType="com.tianyi.drs.basedata.model.IntercomGroup">  
       		 select * from t_intercom_group order by id asc
    	 </select> 
    	     	 
      	 <select id="selectGpsId" parameterType="Integer"  resultType="com.tianyi.drs.basedata.viewmodel.GpsBaseVM">  
       		 select g.id, concat(gt.name,"--",gps_name,"--",number) as name  from t_gps g 
       		 left join t_gpstype gt on g.type_id = gt.id
       		  where g.org_id = #{orgId,jdbcType=INTEGER} order by g.id asc
    	 </select> 
  
  <select id="countByExample" parameterType="com.tianyi.drs.basedata.viewmodel.PoliceVM" resultType="java.lang.Integer">
    select count(*) from t_police
    <if test="_parameter != null">
      <include refid="Where_Sql" />
    </if>
  </select>
  
  <select id="selectByExample" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_police
    
      <include refid="Where_Sql" />
    
      order by id
      <if test="pageStart != null">
	          limit #{pageStart,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
	  </if>
  </select>
  
  <select id="selectWithPage" parameterType="java.util.Map" resultMap="BaseModelMap">
  	select 
  		<include refid="Base_Model_Column_List" />
  	from t_police p 
  	left join t_policetype pt on pt.id = p.type_id 
  	left join organ o on o.id = p.org_id
  		 	left join t_gps tg  on p.gps_id = tg.id
  		<include refid="Where_Sql" />
  		
  		order by id
  		<if test="pageStart !=null">
  			limit #{pageStart,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  		</if>
  </select>
  
  
 
  <sql id="Where_Sql">
    <where>
	   <if test="name != null">
	        AND number like CONCAT( '%',#{name,jdbcType=VARCHAR},'%')  
	   </if>
	   <if test="number != null">
	        AND number like CONCAT( '%',#{number,jdbcType=VARCHAR},'%')  
	   </if> 
    </where>
  </sql>
  
  
  
  <select id="loadVMList" parameterType="java.util.Map" resultMap="BaseModelMap">
  		 select <include refid ="Base_Model_Column_List" />
  		 from t_police p 
  		 left join t_policetype pt on pt.id = p.type_id
  		 left join organ o on o.id  = p.org_id
  		 	left join t_gps tg  on p.gps_id = tg.id
  		 where 
  		 (
  		 p.isUsed = 0 and 
  		 o.id = #{orgId,jdbcType=INTEGER}
  		  or 
  		  o.code =#{orgCode,jdbcType=VARCHAR}
  		<if test ="inSubOrg ==1">
  			or o.path like CONCAT(#{orgPath,jdbcType=VARCHAR},"/",#{orgCode,jdbcType=VARCHAR},"%")
  		</if>
  		)
  		
  		<if test ="name !=null">
  			and p.name like CONCAT('%','${name}','%' )  
  		</if>
  		<if test ="ids !=null">
  			and pt.id  in

				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
  					#{item}  
 				</foreach>
 				
  		</if>
  		 
  		 <if test="pageStart !=null">
  			limit #{pageStart,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  		</if>
  </select>
  
  <select id ="loadVMCount" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select 
  		count(*) 
  	from 
  		t_police as p
  	left join organ as org on p.org_id=org.id
  	left join t_policetype as pt on p.type_id = pt.id
  	where
  		(
  		 p.isUsed = 0 and 
  		 org.id = #{orgId,jdbcType=INTEGER}
  		   or
  		   org.code =#{orgCode,jdbcType=VARCHAR}
  		<if test ="inSubOrg ==1">
  			or org.path like CONCAT(#{orgPath,jdbcType=VARCHAR},"/",#{orgCode,jdbcType=VARCHAR},"%")
  		</if>
  		)
  		<if test ="name !=null">
  			and p.name like CONCAT('%','${name}','%' )  
  		</if>
  		<if test ="ids !=null">
  			and pt.id  in

				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
  					#{item}  
 				</foreach>
 				
  		</if>
  		 
  	 
  </select>
  
  <select id="loadVMListWithGroup" parameterType="java.util.Map" resultMap="BaseModelMap">
  		 select distinct <include refid ="Base_Model_Column_List" />
  		 from t_police p   
			left join organ as org on p.org_Id=org.id
  		    left join t_policetype pt on pt.id = p.type_id
			left join organ as o on p.org_id= o.id
  		 	left join t_gps tg  on p.gps_id = tg.id
  		 where 
  		  
  		 p.isUsed = 0 and 
  		 o.id = #{orgId,jdbcType=INTEGER}
  		   
  		<if test ="name !=null">
  			and p.name like CONCAT('%','${name}','%' )  
  		</if>
  		<if test ="ids !=null">
  			and p.type_id in

				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
  					#{item}  
 				</foreach>
 				
  		</if> 
  		 union  
  		 select distinct <include refid ="Base_Model_Column_List" />
 			from t_duty_police_group_org as pgo
			left join t_duty_police_group_member as m  on m.group_id=pgo.id
			left join t_police as p on m.police_id=p.id 
  		    left join t_policetype pt on pt.id = p.type_id
			left join organ as o on p.org_id= o.id
  		 	left join t_gps tg  on p.gps_id = tg.id
  		 where
  		 p.isUsed = 0 and 
  		  o.id = #{orgId,jdbcType=INTEGER} and
  		   pgo.org_id= #{orgId,jdbcType=INTEGER} 
  		    
  		<if test ="name !=null">
  			and p.name like CONCAT('%','${name}','%' )  
  		</if>
  		<if test ="ids !=null">
  			and p.type_id in

				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
  					#{item}  
 				</foreach>
 				
  		</if> 
  		 
  </select>
   
  <select id="loadVMListWithGroupList" parameterType="java.util.Map" resultMap="BaseModelMap">
  		  
  		 select distinct <include refid ="Base_Model_Column_List" />
 			from t_duty_police_group_org as pgo
			left join t_duty_police_group_member as m  on  m.group_id=pgo.id
			left join t_police as p on m.police_id=p.id 
  		    left join t_policetype pt on pt.id = p.type_id
			left join organ as o on p.org_id= o.id
  		 	left join t_gps tg  on p.gps_id = tg.id
  		 where
  		 p.isUsed = 0 and 
  		    pgo.org_id= #{orgId,jdbcType=INTEGER}  and 
  		  pgo.police_group_id in 
  		 		<foreach item="item" index="index" collection="gids" open="(" separator="," close=")">  
  					#{item}  
 				</foreach>
 				
  		<if test ="name !=null">
  			and p.name like CONCAT('%','${name}','%' )  
  		</if>
  		<if test ="ids !=null">
  			and p.type_id in

				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
  					#{item}  
 				</foreach>
 				
  		</if> 
  		 
  </select>
</mapper>