<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyi.drs.basedata.dao.VehicleMapper">
  <resultMap id="BaseResultMap" type="com.tianyi.drs.basedata.model.Vehicle">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vehicle_type_id" jdbcType="INTEGER" property="vehicleTypeId" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="intercom_group" jdbcType="VARCHAR" property="intercomGroup" />
    <result column="gps_id" jdbcType="INTEGER" property="gpsId" />
    <result column="gps_name" jdbcType="VARCHAR" property="gpsName" />
    <result column="purpose" jdbcType="VARCHAR" property="purpose" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="site_qty" jdbcType="VARCHAR" property="siteQty" />
    <result column="sync_state" jdbcType="BIT" property="syncState" />
    <result column="platform_id" jdbcType="INTEGER" property="platformId" />
  </resultMap>
  
  <resultMap id="ViewResultMap" type="com.tianyi.drs.basedata.viewmodel.VehicleVM">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vehicle_type_id" jdbcType="INTEGER" property="vehicleTypeId" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="intercom_group" jdbcType="VARCHAR" property="intercomGroup" />
    <result column="gps_id" jdbcType="INTEGER" property="gpsId" />
    <result column="gps_name" jdbcType="VARCHAR" property="gpsName" />
    <result column="purpose" jdbcType="VARCHAR" property="purpose" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="site_qty" jdbcType="VARCHAR" property="siteQty" />
    <result column="sync_state" jdbcType="BIT" property="syncState" />
    <result column="platform_id" jdbcType="VARCHAR" property="platformId" />
    <result column="typename" jdbcType="VARCHAR" property="typeName" />
    <result column="orgname" jdbcType="VARCHAR" property="orgName" />
    <result column="orgcode" jdbcType="VARCHAR" property="orgCode" />
    <result column="orgpath" jdbcType="VARCHAR" property="orgPath" />
    <result column="gpsnumber" jdbcType="VARCHAR" property="gpsNumber" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
  </resultMap>
  
  
  <sql id="Base_Column_List">
    id, vehicle_type_id, org_id, number, intercom_group, gps_id, gps_name, purpose, brand, 
    site_qty, sync_state, platform_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_vehicle
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_vehicle
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianyi.drs.basedata.model.Vehicle">
    <selectKey resultType="INTEGER" keyProperty="id">  
  SELECT LAST_INSERT_ID()  
  </selectKey> 
    insert into t_vehicle (id, vehicle_type_id, org_id, 
      number, intercom_group, gps_id, 
      gps_name, purpose, brand, 
      site_qty, sync_state, platform_id
      )
    values (#{id,jdbcType=INTEGER}, #{vehicleTypeId,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, 
      #{number,jdbcType=VARCHAR}, #{intercomGroup,jdbcType=VARCHAR}, #{gpsId,jdbcType=INTEGER}, 
      #{gpsName,jdbcType=VARCHAR}, #{purpose,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{siteQty,jdbcType=VARCHAR}, #{syncState,jdbcType=BIT}, #{platformId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.drs.basedata.model.Vehicle">
    insert into t_vehicle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vehicleTypeId != null">
        vehicle_type_id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="intercomGroup != null">
        intercom_group,
      </if>
      <if test="gpsId != null">
        gps_id,
      </if>
      <if test="gpsName != null">
        gps_name,
      </if>
      <if test="purpose != null">
        purpose,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="siteQty != null">
        site_qty,
      </if>
      <if test="syncState != null">
        sync_state,
      </if>
      <if test="platformId != null">
        platform_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vehicleTypeId != null">
        #{vehicleTypeId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="intercomGroup != null">
        #{intercomGroup,jdbcType=VARCHAR},
      </if>
      <if test="gpsId != null">
        #{gpsId,jdbcType=INTEGER},
      </if>
      <if test="gpsName != null">
        #{gpsName,jdbcType=VARCHAR},
      </if>
      <if test="purpose != null">
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="siteQty != null">
        #{siteQty,jdbcType=VARCHAR},
      </if>
      <if test="syncState != null">
        #{syncState,jdbcType=BIT},
      </if>
      <if test="platformId != null">
        #{platformId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.drs.basedata.model.Vehicle">
    update t_vehicle
    <set>
      <if test="vehicleTypeId != null">
        vehicle_type_id = #{vehicleTypeId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="intercomGroup != null">
        intercom_group = #{intercomGroup,jdbcType=VARCHAR},
      </if>
      <if test="gpsId != null">
        gps_id = #{gpsId,jdbcType=INTEGER},
      </if>
      <if test="gpsName != null">
        gps_name = #{gpsName,jdbcType=VARCHAR},
      </if>
      <if test="purpose != null">
        purpose = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="siteQty != null">
        site_qty = #{siteQty,jdbcType=VARCHAR},
      </if>
      <if test="syncState != null">
        sync_state = #{syncState,jdbcType=BIT},
      </if>
      <if test="platformId != null">
        platform_id = #{platformId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.drs.basedata.model.Vehicle">
    update t_vehicle
    set vehicle_type_id = #{vehicleTypeId,jdbcType=INTEGER},
      org_id = #{orgId,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR},
      intercom_group = #{intercomGroup,jdbcType=VARCHAR},
      gps_id = #{gpsId,jdbcType=INTEGER},
      gps_name = #{gpsName,jdbcType=VARCHAR},
      purpose = #{purpose,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      site_qty = #{siteQty,jdbcType=VARCHAR},
      sync_state = #{syncState,jdbcType=BIT},
      platform_id = #{platformId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <delete id="deleteByIds"  parameterType="java.util.Map" >  
       delete from t_vehicle where id in 
       
       			<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
  					#{item}  
 				</foreach>
       	
   </delete> 
  
  
      	 <select id="selectVehicleType" resultType="com.tianyi.drs.basedata.model.VehicleType">  
       		 select * from t_vehicletype order by id asc
    	 </select> 
      	 
      	 <select id="selectIntercomGroup" resultType="com.tianyi.drs.basedata.model.IntercomGroup">  
       		 select * from t_intercom_group order by id asc
    	 </select> 
    	 
  <sql id="Where_example">
    <where>
	   <if test="number != null">
	        AND number like CONCAT( '%',#{number,jdbcType=VARCHAR},'%')  
	   </if>
    </where>
  </sql>
  
  <select id="countByExample" parameterType="com.tianyi.drs.basedata.model.Vehicle" resultType="java.lang.Integer">
    select count(*) from t_vehicle
    <if test="_parameter != null">
      <include refid="Where_example" />
    </if>
  </select>
  
  <select id="selectByExample" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_vehicle
    
      <include refid="Where_example" />
    
      order by id
      <if test="pageStart != null">
	          limit #{pageStart,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
	  </if>
  </select>
  
  <select id="loadVMList" parameterType="java.util.Map" resultMap="ViewResultMap">
  		select 
  			v.id, 
  			v.vehicle_type_id, 
  			v.org_id, 
  			v.number, 
  			v.intercom_group, 
  			v.gps_id, 
  			v.gps_name, 
  			v.purpose, 
  			v.brand, 
  			v.site_qty, 
  			v.sync_state, 
  			v.platform_id ,
			org.name				as	orgname,
			org.code 				as 	orgcode,
			org.path 				as 	orgPath,
			gps.number 				as 	gpsnumber,
			vt.name 				as 	typename ,
			tg.icon_url             as  iconUrl
		from t_vehicle as v
			left join organ as org on v.org_id=org.id 
			left join t_gps as gps on v.gps_id=gps.id 
			left join t_vehicletype as vt on v.vehicle_type_id=vt.id
  			left join t_gps tg on v.gps_id = tg.id
		where 
  			(
  		 org.id = #{orgId,jdbcType=INTEGER}
  		  or 
  			org.code =#{orgCode,jdbcType=VARCHAR}
  	
  			<if test ="inSubOrg ==1">
  				or org.path like CONCAT(#{orgPath,jdbcType=VARCHAR},"/",#{orgCode,jdbcType=VARCHAR},"%")
  			</if>
  			)
  	
  			<if test="number != null ">
  				and v.number  like CONCAT("%",#{number,jdbcType=VARCHAR},"%")
  			</if>
  			<if test="ids !=null ">
  				and v.vehicle_type_id in 

				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
  					#{item}  
 				</foreach>
 				
  			</if>
  			order by  ${sort} ${order}
  			<if test="pageStart != null">
	          	limit #{pageStart,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
	  		</if>
  </select>
  
  <select id ="loadVMCount" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select 
  		count(*) 
  	from 
  		t_vehicle as v
  	left join organ as org on v.org_id=org.id
  	where
  		(
  		 org.id = #{orgId,jdbcType=INTEGER}
  		 or
  		org.code =#{orgCode,jdbcType=VARCHAR}
  	
  		<if test ="inSubOrg ==1">
  			or org.path like CONCAT(#{orgPath,jdbcType=VARCHAR},"/",#{orgCode,jdbcType=VARCHAR},"%")
  		</if>
  		)
  	
  			<if test="ids !=null ">
  				
  				and v.vehicle_type_id in 

				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
  					#{item}  
 				</foreach>
 				
  			</if>
  		<if test="number != null ">
  			and v.number  like CONCAT("%",'${number}',"%")
  		</if>
  </select>
  
  <select id="loadVMListWithGroup" parameterType="java.util.Map" resultMap="ViewResultMap">
  		 select distinct
   
    		v.id,
    		vt.id as vehicleTypeId,
    		v.org_id  as orgId,
    		v.number,
    		v.intercom_group as intercomgroup,
    		v.gps_id as gpsId,
    		v.gps_name as gpsName,
    		v.purpose,
    		v.brand,
    		v.site_qty  as siteQty,
    		v.sync_state  as syncState,
    		v.platform_id as platformId,
    		vt.name as typeName,
    		o.short_name as orgName,
    		o.code as orgCode,
    		o.path as orgPath,
    		tg.number as gpsNumber,
    		tg.icon_url as iconUrl
    		
    		
  		 from t_vehicle v 
  		 left join t_vehicletype vt on vt.id = v.vehicle_type_id
  		 left join organ o on o.id  = v.org_id
  		 	left join t_gps tg  on v.gps_id = tg.id
  		 <if test ="gids !=null">
  		 	left join t_duty_vehicle_group_member gm on gm.vehicle_id = v.id
  		 	left join t_duty_vehicle_group pg on pg.id = gm.group_id
  		 </if> 
  		 where 
  		 (
  		 o.id = #{orgId,jdbcType=INTEGER}
  		  or 
  		  o.path like CONCAT(#{orgPath,jdbcType=VARCHAR},"/",#{orgCode,jdbcType=VARCHAR},"%")
  		)
  		<if test ="number !=null">
  			and v.number like CONCAT('%','${number}','%' )  
  		</if>
  		<if test ="ids !=null">
  			and v.vehicle_type_id in

				<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
  					#{item}  
 				</foreach>
 				
  		</if>
  		<if test ="gids !=null">
  			and pg.id  in

				<foreach item="gitem" index="index" collection="gids" open="(" separator="," close=")">  
  					#{gitem}  
 				</foreach>
 				
  		</if> 
  </select>
</mapper>
